<h1>New Posts</h1>
<br>
 <%- if current_user%>
<%= form_for @post, html: { multipart: true } do |f| %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.submit %>
<% end %>
<% else%>
<h2>you must sign on first</h2>
<% end %>